<%= stylesheet_link_tag "ideas", :media => "all" %>

  <main>
    <section class="cards">
      <% @ideas.each do | idea |%>
      <article class="hover">
            <% if idea.picture.attached? %>
                <figure tabindex=1>
                  <img class="imagem-idea" src="<%=(url_for(idea.picture))%>">
                </figure>
                <% end%>
                <% if current_user %>
                  <%= link_to image_tag("remove.png", class: "remove-img"), idea_path(idea), :method => :delete, class:"remove-button"%>
                  <%= link_to image_tag("edit.png", class: "remove-img"), edit_idea_path(idea), class:"edit-button"%> 
                <% end %>
            <div class="text_post">
                <h1 class="title-post"><%= idea.title%></h1>
                <p class="idea-text"><%= idea.text%></p>
            
            </div>
            <div class="enquete">
            <ul class="lista-enquete">
              <li class="enquente-vote upvote">
                <%= link_to like_idea_path(idea), method: :put do %>
                  <strong>Aprovar - <%= idea.get_upvotes.size%></strong> 
                  </button> 
                <% end %>
              </li>
              <li class="enquente-vote downvote">
                <%= link_to unlike_idea_path(idea), method: :put do %>
                   <strong>Reprovar - <%= idea.get_downvotes.size%></strong> 
                <% end %>
              </li>
            </ul>
            </div>
      </article>
      <% end %>
    </section>

  </main>